
.div {
    display:block;
    padding: 15px;
    width: 7%;
    
}

#id1,#id2 {
    padding:15px;
    display:block;
    border:none;
    border-bottom:1px solid #ccc;
    width:100%
}



.bt {


    padding:15px 20px;
    background: #B9DFFF;
    color: #fff;
    border: 1px solid #eee;
    width: 150px;
    height: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
}


.bt:hover {
    padding:15px 20px;
    background: #016ABC;
    color: #fff;
    border: 1px solid #eee;
    width: 150px;
    height: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
}
p{
    width: 150px;
    height: 20px;

}
#demo, #demo2, h1, #demo3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.tb, tr, th, td {
    border: 1px solid cadetblue;
}